<%= form_with(model: question, local: true) do |q| %>
  <div class="mb-3">
    <b><%= q.label :title, 'Category', class: 'form-label' %></b>
    <%= collection_select(:question, :category_id, Category.all, :id, :title, {}, {:multiple => false}) %>
  </div>
  <div class="mb-3">
    <b><%= q.label :title, 'Question', class: 'form-label' %></b>
    <%= q.text_field :title, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <div class="form-check">
      <%= q.radio_button :kind, 'single', :checked => true %> 
      <%= label :kind_single, 'Single choice' %>
    </div>
    <div class="form-check">
      <%= q.radio_button :kind, 'multi' %>
      <%= label :kind_multi, 'Multiple choices' %>
    </div>
  </div>
  <div class="field answers-container">
    <table class="table table-borderless" id="mytb">
      <%= q.fields_for :answers do |ff| %>
        <thead>
          <tr>
            <th>
              <%= ff.label :title, 'Answers', class: 'form-label' %>
            </th>
            <th>Correct ?</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="tbody">
          <tr>
            <td><%= ff.text_field :title, class: 'form-control' %></td>
            <td>
              <div class="form-check mt-3 ml-4">
                <%= ff.check_box :iscorrected, {}, true, false %> <br />
              </div>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>

  <div class="field mt-2">
    <button type="button" onclick="myFunction()" class="js-btn-add">Add anwser</button>
  </div>
  <%= q.submit 'Submit', class: 'btn btn-success mt-3' %>
  <%= link_to 'Back', questions_path, class: 'btn btn-secondary mt-3' %>
<% end %>

<script>
  function myFunction() {
    var table = document.getElementById("mytb");
    var length = $(".form-control").length;
    var div = document.createElement("div");
    var input = document.createElement("input");

    input.type = "text";
    input.name = "question[answers_attributes]["+ length +"][answers]"
    input.className = "form-control"
    input.id = "question_answers_attributes_" + length + "answers"

    div.appendChild(input)
    $(".answers-container").append(div);
  }

</script>

<style type="text/css">
  .form-control {
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>