<%= form_with(model: @question) do |q| %>
  <div class="mb-3">
    <b><%= q.label :title, 'Category', class: 'form-label' %></b>
    <%= collection_select(:question, :category_id, @categories, :id, :title, {}, {:multiple => false}) %>
  </div>
  <div class="mb-3">
    <b><%= q.label :title, 'Question', class: 'form-label' %></b>
    <%= q.text_field :title, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <div class="form-check">
      <%= q.radio_button :kind, 'single', :checked => true %> 
      <%= label :kind_single, 'Single choice' %>
    </div>
    <div class="form-check">
      <%= q.radio_button :kind, 'multi' %>
      <%= label :kind_multi, 'Multiple choices' %>
    </div>
    <div class="form-check">
      <%= q.radio_button :kind, 'text' %>
      <%= label :kind_multi, 'Text Field' %>
    </div>
  </div>
  <div class="field answers-container">
    <table class="table table-borderless" id="answer-list">
      <%= q.fields_for :answers do |a| %>
        <thead>
          <tr>
            <th>
              <%= a.label :title, 'Answers', class: 'form-label' %>
            </th>
            <th>Correct ?</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="tbody">
          <tr id="add_answer" class="answer">
            <td><%= a.text_field :title, class: 'form-control' %></td>
            <td>
              <div class="form-check mt-3 ml-4">
                <%= a.check_box :iscorrected %> <br />
              </div>
            </td>
            <td>
              <%= a.hidden_field :_destroy %>
              <input type="button" class="btn btn-danger remove-answer" value="X">
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
  <div class="field mt-2">
    <button type="button" onclick="addAnswer()">Add anwser</button>
  </div>
  <%= q.submit 'Submit', class: 'btn btn-success mt-3' %>
  <%= link_to 'Back', questions_path, class: 'btn btn-secondary mt-3' %>
<% end %>

<script>
  function addAnswer() {
    var timeStamp = Date.now();

    var inputAnswer = "<tr><td><input class=\"form-control\" type=\"text\"" +
    "name=\"question[answers_attributes][" + timeStamp + "][title]\" id=\"question_answers_attributes_" + timeStamp + "_title\"></td><td>" +
    "<div class=\"form-check mt-3 ml-4\">" +
    "<input name=\"question[answers_attributes][" + timeStamp + "][iscorrected]\" type=\"hidden\" value=\"0\">" +
    "<input type=\"checkbox\" value=\"1\" name=\"question[answers_attributes][" + timeStamp + "][iscorrected]\"" +
    "id=\"question_answers_attributes_" + timeStamp + "_iscorrected\"> <br>" +
    "</div></td><td><input type=\"button\" class=\"btn btn-danger remove-answer\" value=\"X\"></td></tr>";
    
    $("#answer-list").append(inputAnswer);
  };

  $('.answers-container').on('click', '.remove-answer', function() {
    $(this).closest('tr').hide();
    $(this).prev("input[name*='destroy']").attr("value",true);
  });
</script>

<style type="text/css">
  .form-control {
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>