<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <%= link_to "New Question", new_question_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="white-box">
            <%= render 'search' %>
            <br />
            <h4>Questions: 
              <%= @questions.count%> /
              <%= Question.count %>
            </h4>
            <br />
            <div class="table-responsive">
              <table class="table text-nowrap">
                <thead>
                  <tr>
                    <th class="border-top-0">#</th>
                    <th class="border-top-0"><b>Title</b></th>
                    <th class="border-top-0"><b>Type</b></th>
                    <th class="border-top-0"><b>Functions</b></th>
                  </tr>
                </thead>
                <tbody>
                  <%= render @questions %>
                </tbody>
              </table>
            </div>
            <%== pagy_bootstrap_nav(@pagy) %>
          </div>
        </div> 
      </div>         
    </div>
  </div>
</div>
<script>
