<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
          <%= form_with url: answers_path, method: 'GET', class: 'box-title' do |f| %>
            <label class='form-label'>Search answers</label>
            <input type="text" name='search' value="<%= params[:search] %>" >
            <button class="btn btn-success mt-0">Search</button>
          <% end %>
          <br />
          <div class="table-responsive">
            <table class="table text-nowrap">
              <thead>
                <tr>
                  <th class="border-top-0">#</th>
                  <th class="border-top-0"><b>Category</b></th>
                  <th class="border-top-0"><b>Question</b></th>
                  <th class="border-top-0"><b>Title</b></th>
                  <th class="border-top-0"><b>Corrected</b></th>
                </tr>
              </thead>
              <tbody>
                <% @answers.each_with_index do |anwser, index| %>
                  <tr>
                    <th scope="row"><%= index %></th>
                    <td><%= Category.where(id: anwser.question.category_id).pluck(:title) %></td>
                    <td><%= Question.where(id: anwser.question_id).pluck(:title) %></td>
                    <td><%= anwser.title %></td>
                    <td><%= anwser.iscorrected %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> 
  </div>         
</div>