<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
          <%= render 'search' %>
          <br />
          <h4>Answers: 
            <%= @answers.count%> /
            <%= Answer.count %>
          </h4>
          <br />
          <div class="table-responsive">
            <table class="table text-nowrap">
              <thead>
                <tr>
                  <th class="border-top-0">#</th>
                  <th class="border-top-0"><b>Category</b></th>
                  <th class="border-top-0"><b>Question</b></th>
                  <th class="border-top-0"><b>Title</b></th>
                  <th class="border-top-0"><b>Corrected</b></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <%= render @answers %>
              </tbody>
            </table>
          </div>
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
      </div>
    </div> 
  </div>         
</div>