<%= form_with(model: @candidate) do |c| %>
  <div class="mb-3">
    <b><%= c.label :title, "First name", class: "form-label" %></b>
    <%= c.text_field :first_name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <b><%= c.label :title, "Last name", class: "form-label" %></b>
    <%= c.text_field :last_name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <b><%= c.label :title, "Exam ID", class: "form-label" %></b>
    <%= c.text_field :exam_id, class: "form-control" %>
  </div>
  <%= c.submit "Submit", class: "btn btn-success mt-3" %>
  <%= link_to "Back", candidates_path, class: "btn btn-secondary mt-3" %>
<% end %>