<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="white-box">
          <h2><b>Edit Candidate</b></h2>
          <label><b>Name: </b></label>
          <label><%= @candidate.first_name %> <%= @candidate.last_name %></label>
          <div class="mb-3">
            <%= form_with(model: @candidate) do |c| %>
              <b><%= c.label :title, "Exam_ID", class: "form-label mt-2" %></b>
              <%= c.text_field :exam_id, class: "form-control" %>
              <b><%= c.label :title, "Mark", class: "form-label mt-2" %></b>
              <%= c.text_field :mark, class: "form-control" %>
              <%= c.submit "Submit", class: "btn btn-success mt-3" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>