<%= form_for(@exam, :html => {:class => "submit-exam"}) do |f| %>
  <%= f.fields_for :results do |result| %>
    <% question = result.object.question %>
    <div class="py-2 h4"><%= question.title %></div>
    <div class="options" id="options"> 
      <% question.answers.each do |answer| %>
        <label class="checkbox" id="checkbox">
          <%= result.check_box :answer_id, {}, answer.id, nil %>&nbsp; 
          <%= answer.title %>
        </label>
      <% end %>
      <div class="input-group mb-1">Other: 
        <%= result.text_field :text_answer, class: "form-control", id: "text-answer" %> 
      </div>
    </div>
    <%= result.hidden_field :question_id, value: question.id %>
  <% end %>
  <div class="paginate"></div>
  <div class="submit-result">
    <%= f.submit "SUBMIT",:data => {:disable_with => "Saving..."}, class: "btn btn-success mt-3" %>
  </div>
<% end %>