<div class="content">
  <div class="row">
    <div class="content-start" id="content-start">
      <div class="start-btn show-info"><button>READY !</button></div>
      <div class="info-box">
        <div class="info-title">
          <span>Some rules of this Test !</span>
        </div>
        <div class="info-list">
          <div class="info">1. You will have only <span>30 minutes</span> to complete this test.</div>
          <div class="info">2. You can select one or many answers per question.</div>
          <div class="info">3. If there isn't correct answer, you can enter your answer in the textbox below.</div>
          <div class="info">4. When the time is up or when you exit from the test, your work will be automatically submitted.</div>
          <div class="info">5. You will get points on the basis of your correct anwsers.</div>
        </div>
        <div class="start">
          <button class="quit remove-info">EXIT</button>
          <button class="continue start-exam">START</button>
        </div>
      </div>
    </div>
    <div class="content-question" id="content-question">
      <div class="container">
        <div class="title">TEST</div>
        <div class="question" id="result">
          <%= form_with(model: @exam) do |f| %>
            <%= f.fields_for :results do |result| %>
              <% question = result.object.question %>
              <div class="py-2 h4"><%= question.title %></div>
              <div class="options" id="options"> 
                <% question.answers.each do |answer| %>
                  <label class="checkbox">
                    <%= result.check_box :answer_id, {}, answer.id, nil %>&nbsp; 
                    <%= answer.title %>
                  </label>
                <% end %>
                <div class="input-group mb-1">Other: 
                  <%= result.text_field :text_answer, class: 'form-control', id: "text-answer" %> 
                </div>
              </div>
              <%= result.hidden_field :question_id, value: question.id %>
            <% end %>
            <div class="paginate">
            </div>
            <div class="submit-result">
              <%= f.submit "SUBMIT", class: "btn btn-success mt-3" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="right-bar" id="right-bar">
      <div class="sidebar" >
        <div class="timer">
          <div class="time-text">Time Left: </div>&nbsp
          <div class="time-minute" id="countdown"></div>
        </div>
        <br/>
        <div class="right-side">
          <div class="question-num">
            <div class="question-circle">1</div>
            <div class="question-circle">2</div>
            <div class="question-circle">3</div>
            <div class="question-circle">4</div>
            <div class="question-circle">5</div>
          </div class="question-num">
          <div class="question-num">
            <div class="question-circle">6</div>
            <div class="question-circle">7</div>
            <div class="question-circle">8</div>
            <div class="question-circle">9</div>
            <div class="question-circle">10</div>
          </div class="question-num">
          <div class="question-num">
            <div class="question-circle">11</div>
            <div class="question-circle">21</div>
            <div class="question-circle">13</div>
            <div class="question-circle">14</div>
            <div class="question-circle">15</div>
          </div class="question-num">
          <div class="question-num">
            <div class="question-circle">16</div>
            <div class="question-circle">17</div>
            <div class="question-circle">18</div>
            <div class="question-circle">19</div>
            <div class="question-circle">20</div>
          </div class="question-num">
          <div class="question-num">
            <div class="question-circle">21</div>
            <div class="question-circle">22</div>
            <div class="question-circle">23</div>
            <div class="question-circle">24</div>
            <div class="question-circle">25</div>
          </div class="question-num">
          <div class="question-num">
            <div class="question-circle">26</div>
            <div class="question-circle">27</div>
            <div class="question-circle">28</div>
            <div class="question-circle">29</div>
            <div class="question-circle">30</div>
          </div class="question-num">
        </div>
      </div>
    </div>
  </div>
</div>
